<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         id="org.ofbiz.plugin.views"
         point="org.eclipse.ui.views">
      <category
            id="org.ofbiz.plugin.category"
            name="OFBiz">
      </category>
      <view
            id="org.ofbiz.plugin.explorerview"
            category="org.ofbiz.plugin.category"
            class="org.ofbiz.plugin.ExplorerView"
            icon="icons/ofbiz.png"
            name="OFBiz Explorer">
      </view>
      <view
            id="org.ofbiz.plugin.view.workingBench"
            category="org.ofbiz.plugin.category"
            name="Ofbiz Workbench"
            class="org.ofbiz.plugin.view.WorkbenchView">
            
      </view>
   </extension>
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "https://github.com/rasztasd/ofbiz-eclipse-project-explorer" 
       class = "org.ofbiz.plugin.ofbiz.provider.OfbizItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
       uri = "https://github.com/rasztasd/ofbiz-eclipse-project-explorer"
       class = "org.ofbiz.plugin.ofbiz.OfbizPackage"
       genModel = "model/ofbiz.genmodel" /> 
  </extension>
  <extension
        id="org.ofbiz.plugin.text"
        name="OFBiz text marker"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="false">
     </persistent>
     <super
           type="org.eclipse.core.resources.textmarker">
     </super>
     <attribute
           name="name">
     </attribute>
  </extension>
  <extension
        id="org.ofbiz.plugin.problem"
        name="OFBiz problem marker"
        point="org.eclipse.core.resources.markers">
     <persistent
           value="false">
     </persistent>
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <attribute
           name="name">
     </attribute>
     <attribute
           name="method">
     </attribute>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
              <!-- remove nature -->
      <objectContribution
            id="org.ofbiz.plugin.builder.removeNature"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         <action
               class="org.ofbiz.plugin.nature.ToggleNatureAction"
               enablesFor="1"
               id="org.ofbiz.plugin.builder.removeNature"
               label="Remove Ofbiz project"
               tooltip="Remove Ofbiz project"
               menubarPath="additions">
         </action>
         <visibility><objectState name="projectNature" value="org.ofbiz.plugin.ofbizNature"/></visibility>
      </objectContribution>
      <!-- add nature -->
      <objectContribution
            id="org.ofbiz.plugin.builder.addNature"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         <action
               class="org.ofbiz.plugin.nature.ToggleNatureAction"
               enablesFor="1"
               id="org.ofbiz.plugin.builder.addNature"
               label="Set project as Ofbiz project"
               tooltip="Set project as Ofbiz project"
               menubarPath="additions">
         </action>
         <visibility><not><objectState name="projectNature" value="org.ofbiz.plugin.ofbizNature"/></not></visibility>
      </objectContribution>
        
     <objectContribution
           id="org.ofbiz.plugin.serviceinvocation"
           objectClass="org.ofbiz.plugin.ofbiz.ServiceInvocation">
        <action
              class="org.ofbiz.plugin.GoToInvocation"
              icon="icons/full/obj16/IEntity.gif"
              id="org.ofbiz.plugin.action.showinvocation"
              label="Show Invocation"
              tooltip="Show Service invocation in Java file">
        </action>
     </objectContribution>
     <viewerContribution
           id="org.ofbiz.plugin.xmleditor"
           targetID="#TextEditorContext">
        <menu
              id="org.ofbiz.plugin.menu"
              label="OFBiz Explorer"
              path="additions">
           <groupMarker
                 name="search">
           </groupMarker>
        </menu>
        <action
              class="org.ofbiz.plugin.FinderAction"
              icon="icons/full/obj16/IEntity.gif"
              id="org.ofbiz.plugin.xmleditor.find"
              label="Find"
              menubarPath="org.ofbiz.plugin.menu/search">
        </action>
     </viewerContribution>
     <viewerContribution
           id="org.ofbiz.plugin.xmleditor2"
           targetID="org.eclipse.ui.DefaultTextEditor">
        <menu
              id="org.ofbiz.plugin.menu"
              label="OFBiz Explorer"
              path="additions">
           <groupMarker
                 name="search">
           </groupMarker>
        </menu>
        <action
              class="org.ofbiz.plugin.FinderAction"
              icon="icons/full/obj16/IEntity.gif"
              id="org.ofbiz.plugin.xmleditor.find"
              label="Findxxx"
              menubarPath="org.ofbiz.plugin.menu/search">
        </action>
     </viewerContribution>
     <objectContribution
           id="org.ofbiz.plugin.hasdocumentation"
           objectClass="org.ofbiz.plugin.ofbiz.HasDocumentation">
        <action
              class="org.ofbiz.plugin.doc.ShowDocumentation"
              icon="icons/full/obj16/IEntity.gif"
              id="org.ofbiz.plugin.action.showxmldefinition"
              label="Show Documentation"
              tooltip="Javadoc, Xml">
        </action>
     </objectContribution>
     <objectContribution
           id="org.ofbiz.plugin.hasparser"
           objectClass="org.ofbiz.plugin.ofbiz.ParseableFile">
        <action
              class="org.ofbiz.plugin.handlers.ReParseFile"
              icon="icons/full/obj16/IEntity.gif"
              id="org.ofbiz.plugin.action.reparsefile"
              label="Reload file"
              tooltip="Reparse file">
        </action>
     </objectContribution>
     <objectContribution
           id="org.ofbiz.plugin.viewEntitySql"
           objectClass="org.ofbiz.plugin.ofbiz.ViewEntity">
        <action
              class="org.ofbiz.plugin.action.ShowViewEntitySqlAction"
              icon="icons/full/obj16/Service.gif"
              id="org.ofbiz.plugin.actionviewEntitySql"
              label="Show sql"
              tooltip="Show sql.">
        </action>
     </objectContribution>
     <objectContribution
           id="org.ofbiz.plugin.compileComponent"
           objectClass="org.ofbiz.plugin.ofbiz.Component">
        <action
              class="org.ofbiz.plugin.handlers.CompileComponent"
              icon="icons/full/obj16/Service.gif"
              id="org.ofbiz.plugin.compileComponentId"
              label="Compile"
              tooltip="Compile.">
        </action>
     </objectContribution>
     
     <objectContribution
           id="org.ofbiz.plugin.queryIEntityFromRunning"
           objectClass="org.ofbiz.plugin.ofbiz.IEntity">
        <action
              class="org.ofbiz.plugin.handlers.QuaryEntityHandler"
              icon="icons/full/obj16/Service.gif"
              id="org.ofbiz.plugin.compileComponentId"
              label="Query entity."
              tooltip="Query entity.">
        </action>
     </objectContribution>
     
  </extension>
   
  <extension
        point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
     <hyperlinkDetector
           class="org.ofbiz.plugin.hyperlink.OfbizHyperlinkDetector"
           id="org.ofbiz.plugin.hyperlink.OfbizHyperlinkDetector"
           name="Ofbiz hyperlink detector"
           targetId="org.eclipse.ui.DefaultTextEditor">
     </hyperlinkDetector>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="org.ofbiz.plugin.commands.category"
           name="Ofbiz command">
     </category>
     <command
           categoryId="org.ofbiz.plugin.commands.category"
           id="org.ofbiz.plugin.commands.ofbizValidateCommand"
           name="Validate current file">
     </command>
     <command
           categoryId="org.ofbiz.plugin.commands.category"
           id="org.ofbiz.plugin.commands.serviceInvocationCommand"
           name="Insert service invocation">
     </command>
     <command
           categoryId="org.ofbiz.plugin.commands.category"
           id="org.ofbiz.plugin.commands.openXmlDefinitionCommand"
           name="Open Ofbiz file">
     </command>
     <command
           categoryId="org.ofbiz.plugin.commands.category"
           id="org.ofbiz.plugin.commands.openDocumentationCommand"
           name="Show Ofbiz documentation">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.ofbiz.plugin.handlers.OfbizValidateHandler"
           commandId="org.ofbiz.plugin.commands.ofbizValidateCommand">
     </handler>
     <handler
           class="org.ofbiz.plugin.handlers.ServiceInvocationHandler"
           commandId="org.ofbiz.plugin.commands.serviceInvocationCommand">
     </handler>
	<handler
           class="org.ofbiz.plugin.handlers.opencomponent.OpenOfbizComponentDialogHandler"
           commandId="org.ofbiz.plugin.commands.openXmlDefinitionCommand">
     </handler>
 	<handler
    	   class="org.ofbiz.plugin.handlers.showdocumentation.OpenDocumentationHandler"
    	   commandId="org.ofbiz.plugin.commands.openDocumentationCommand">
 	</handler>     
  </extension>
  <extension
        point="org.eclipse.ui.bindings">
     <key
           commandId="org.ofbiz.plugin.commands.ofbizValidateCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+6">
     </key>
     <key
           commandId="org.ofbiz.plugin.commands.openXmlDefinitionCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M3+X">
     </key>
     <key
           commandId="org.ofbiz.plugin.commands.openDocumentationCommand"
           contextId="org.eclipse.ui.contexts.window"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
           sequence="M1+M2+D">
     </key>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.ui.main.menu?after=additions">
        <menu
              id="org.ofbiz.plugin.menus.ofbizMenu"
              label="Ofbiz"
              mnemonic="M">
           <command
                 commandId="org.ofbiz.plugin.commands.ofbizValidateCommand"
                 id="org.ofbiz.plugin.menus.ofbizValidateCommand"
                 mnemonic="V">
           </command>
           <command
                 commandId="org.ofbiz.plugin.commands.serviceInvocationCommand"
                 id="org.ofbiz.plugin.menus.serviceInvocationCommand"
                 mnemonic="S">
           </command>
           <command
                 commandId="org.ofbiz.plugin.commands.openXmlDefinitionCommand"
                 id="org.ofbiz.plugin.menus.openXmlDefinitionCommand"
                 mnemonic="X">
           </command>           
           <command
                 commandId="org.ofbiz.plugin.commands.openDocumentationCommand"
                 id="org.ofbiz.plugin.menus.openDocumentationCommand"
                 mnemonic="D">
           </command>           
        </menu>
     </menuContribution>
     <menuContribution
           locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        <toolbar
              id="org.ofbiz.plugin.toolbars.ofbizToolBar">
           <command
                 commandId="org.ofbiz.plugin.commands.ofbizValidateCommand"
                 icon="icons/ofbiz.png"
                 id="org.ofbiz.plugin.toolbars.ofbizValidateCommand"
                 tooltip="Validate current ofbiz file">
           </command>
        </toolbar>
     </menuContribution>
  </extension>
  <extension
        id="xmlProblem"
        name="XML Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>

  
  <extension
        id="controllerMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  <extension
        id="screenMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  <extension
        id="entityFileMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  <extension
        id="serviceFileMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  <extension
        id="formMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  <extension
        id="serviceMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  <extension
        id="secaMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  <extension
        id="componentMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
   <extension
        id="iEntityMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
   <extension
        id="javaServiceImplMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
   <extension
        id="ftlFileMarker"
        point="org.eclipse.core.resources.markers">
	 <super type="org.ofbiz.plugin.text"></super>
	 <persistent
        value="true">
	 </persistent>
  </extension>
  
  <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
		name="Beanshell runner"
        delegate="org.ofbiz.plugin.debugger.BeanshellDebuggerDelegate"
        modes="run, debug"
        sourceLocatorId="org.ofbiz.plugin.beanshellSourceLocatorId"
        sourcePathComputerId="org.eclipse.debug.core.sourcePathComputersId"           
        id="org.ofbiz.beanshellLauncher">   
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="org.ofbiz.plugin.debugger.BeanshellLaunchConfigurationTabGroup"
           id="org.ofbiz.beanshellLauncher"
           type="org.ofbiz.beanshellLauncher">
     </launchConfigurationTabGroup>
  </extension>
<extension point="org.eclipse.ui.editorActions">
		<editorContribution
		id="org.python.pydev.debug.BreakpointRulerActions"
		targetID="org.eclipse.ui.DefaultTextEditor">
		<action
			id="org.ofbiz.plugin.debugger.DebugRullerAction"
			actionID="RulerDoubleClick"
			label="Add breakpoint"
			class="org.ofbiz.plugin.debugger.ManageBreakpointRulerActionDelegate">
		</action>
	</editorContribution>
</extension>  
  <extension
        point="org.eclipse.debug.core.breakpoints">
     <breakpoint
           id="org.ofbiz.plugin.debugger.PDALineBreakpoint"
           class="org.ofbiz.plugin.debugger.PDALineBreakpoint"
           markerType="org.ofbiz.plugin.breakpointMarker">
     </breakpoint>
   </extension>
   <extension
	point="org.eclipse.ui.ide.markerImageProviders">
	<imageprovider
       class="org.ofbiz.plugin.debugger.PDALineBreakpoint"
       icon="icons/breakmarker.gif"
       id="beanshellBreakPointImage"
       markertype="org.ofbiz.plugin.breakpointMarker"/>
    <imageprovider
          id="org.ofbiz.plugin.serviceImplMarkerImage"
          markertype="org.ofbiz.plugin.javaServiceImplMarker"
          icon="icons/full/obj16/Service.gif">
    </imageprovider>
  </extension>
  <extension
         id="breakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="false">
      </persistent>
  </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.ofbiz.plugin.debugger.PDABreakpointAdapterFactory"
            adaptableType="org.eclipse.ui.texteditor.ITextEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.ofbiz.plugin.debugger.SourceLookupDirectory"
            id="org.ofbiz.plugin.beanshellSourceLocatorId"
            name="name">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.ofbiz.plugin.debugger.DebugModelPresentation"
            id="org.ofbiz.plugin">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.ofbiz.plugin.debugger.SourcePathComputerDelegate"
            id="org.eclipse.debug.core.sourcePathComputersId">
      </sourcePathComputer>
   </extension>

      <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging PDA"
            description="Debugging PDA"
            id="org.ofbiz.plugin.debug.contextId"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
      <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="org.ofbiz.plugin.debugModelPresentation1"
            contextId="org.ofbiz.plugin.debug.contextId">
      </modelContextBinding>
   </extension>
      <extension
            point="org.eclipse.jdt.ui.quickAssistProcessors">
         <quickAssistProcessor
               id="org.ofbiz.plugin.quickAssistProcessor1"
               class="org.ofbiz.plugin.assist.JavaQuickAssist"
               >
         </quickAssistProcessor>
      </extension>
      <extension
            id="id1"
            point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
            <javaCompletionProposalComputer
                  class="org.ofbiz.plugin.completion.JavaCompletion">
            </javaCompletionProposalComputer>
      </extension>
      <extension
            point="org.eclipse.jdt.ui.queryParticipants">
         <queryParticipant
               class="org.ofbiz.plugin.search.OfbizQueryParticipant"
               id="org.ofbiz.plugin.queryParticipant1"
               name="name"
               nature="org.ofbiz.plugin.ofbizNature">
         </queryParticipant>
      </extension>
      <extension
            id="org.ofbiz.plugin.ofbizNature"
            point="org.eclipse.core.resources.natures">
         <runtime>
            <run
                  class="org.ofbiz.plugin.nature.OfbizNature">
            </run>
         </runtime>
      </extension>
      <extension
            id="org.ofbiz.plugin.builder.OfbizBuilder"
            point="org.eclipse.core.resources.builders">
         <builder>
         	<run         		
                class="org.ofbiz.plugin.builder.OfbizBuilder">
         	</run>
       	   </builder>
      </extension>
      <extension
            point="org.eclipse.ui.newWizards">
            <category
            	name="Ofbiz"
                  id="org.ofbiz.plugin.category.ofbizcategory">
            </category>
            <wizard
            	name="Screen"
            	class="org.ofbiz.plugin.wizard.NewScreenWizard"
            	category="org.ofbiz.plugin.category.ofbizcategory"
                  id="org.ofbiz.plugin.wizard1">
            </wizard>
      </extension>
      <extension
            point="org.eclipse.ui.dropActions">
         <action         		
               class="org.ofbiz.plugin.dnd.DropProvider"
               id="org.ofbiz.plugin.action1">
         </action>
      </extension>
      <extension
            point="org.eclipse.jdt.debug.jdiclient">
      </extension>
      <extension
            point="org.eclipse.ui.editors">
         <editor
               class="org.jboss.ide.eclipse.freemarker.editor.FTLMultiEditor"
               contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
               extensions="ftl"
               icon="icons/sample.gif"
               id="org.ofbiz.plugin.editors.ftl.FTLEditor"
               name="Extended Freemarker Editor">
         </editor>
      </extension>
</plugin>
